.dictaphone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f3f3;
  /* Light grey background */
  font-family: 'Arial', sans-serif;
}

.microphone-status {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.microphone-status img {
  width: 50px;
  /* You can adjust this size to your preference */
  height: auto;
}

/* Additional hover effect to give users feedback when they can interact */
.microphone-status:hover {
  transform: scale(1.1);
}

.button {
  background-color: #007bff;
  /* Bootstrap primary blue */
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
  /* Darken the button on hover */
}

.response {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Soft shadow for depth */
  width: 80%;
  /* You may want to adjust this depending on your layout */
  text-align: center;
  font-size: 18px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

  .button,
  .microphone-status {
    padding: 8px 12px;
    margin: 5px;
  }

  .response {
    width: 90%;
  }
}

/* Styles généraux pour le container du chronomètre */
p.chrono {
  font-family: 'Roboto Mono', monospace; /* Une police mono-espacée pour un aspect plus technique */
  font-size: 1.5em; /* Taille de la police agrandie pour une meilleure lisibilité */
  color: #4CAF50; /* Couleur verte vive pour l'énergie */
  background-color: #FFF; /* Arrière-plan blanc pour faire ressortir le texte */
  border: 2px solid #4CAF50; /* Bordure solide qui correspond à la couleur du texte */
  padding: 10px 20px; /* Padding pour donner de l'espace autour du texte */
  border-radius: 10px; /* Bords arrondis */
  text-align: center; /* Centrage du texte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet 3D subtil */
  display: inline-block; /* Permet au <p> de ne prendre que l'espace nécessaire */
  margin: 20px; /* Marge pour éviter que le chrono touche d'autres éléments */
  transition: transform 0.2s ease-in-out; /* Transition pour l'animation */
}

p.chrono:hover {
  transform: scale(1.1); /* Légère augmentation de taille au survol pour un effet interactif */
  cursor: pointer; /* Change le curseur en main pour indiquer qu'il est interactif */
}