.dictaphone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f3f3;
  font-family: 'Arial', sans-serif;
}

.microphone-status {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.microphone-status img {
  width: 50px;
  height: auto;
}

.microphone-status:hover {
  transform: scale(1.1);
}

.response, .chrono {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%; /* Adjusting width for mobile */
  text-align: center;
  font-size: 18px;
}

@media (max-width: 768px) {
  .microphone-status img {
    width: 40px; /* Smaller microphone icon on smaller screens */
  }

  .response, .chrono {
    width: 90%; /* Larger width for smaller screens */
    font-size: 16px; /* Smaller font size for smaller screens */
  }

  .dictaphone-container {
    padding: 10px; /* Padding for smaller screens */
  }
}

/* Styles for the MapContainer specifically */
.MapContainer {
  width: 100vw; /* Full viewport width */
  height: 50vh; /* 50% of viewport height */
}

@media (max-width: 768px) {
  .MapContainer {
    height: 40vh; /* Smaller height on mobile */
  }
}